  
:root{
   
    --black:#444;
    --light-color:#666;
    --first-color:#176B87;
    --second-color:#EEF5FF;
    --third-color:#B4D4FF;
    --fourth-color:#86B6F6;
    --font-color:#15133C;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* ***************navbar start************ */

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: var(--second-color);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  
   
}      



.navbar ul{
    display: flex;
    /* position: fixed;
    top: 0; */
   
    
}

li{
    list-style-type: none;
    padding: 18px 20px;
}
li:hover{
    /* padding: 20px 20px; */
    background-color: #a2bac2;
    border-radius: 50%;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    /* font-weight: bold; */
    color: var(--font-color);
    font-family: "Sofia", sans-serif;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ; */
}

 .navbar .logoname{
    margin: 10px 10px;
    font-size: 2.5em;
    margin-left: -80px;
    margin-top: 8px;
    font-family: "Sofia", sans-serif;

}

.logoname::first-letter{
    color: #176B87;
}

.logoname::after{
    content: "y";
    color: #176B87;
}


.navbar .icons{
    margin-top: 28px;
    margin-right: -80px;
}


/* **************navbar end************** */

/* **************login start************** */





.bg{
    width: 100%;
    height: 900px;
    position:sticky ;
     top: 0;
     background-image: url(https://media.istockphoto.com/id/1273576812/photo/blue-shaded-background.webp?b=1&s=170667a&w=0&k=20&c=f4wnBYTULW420zcU7K7MFsLJGbDHX_G0IRVqkIa9RMY=);
    background-size: 100% 100%;
     width: 100%;
     height: 800px;
}

.form-container{
    width: 810px;
    height: 500px;
    border: none;
    position: absolute;
    margin: 160px 350px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
  
}



.left-page {
    
    float: left;
    width: 400px;
    height: 500px;
    border: none;
    text-align: center;
    background-color: var(--first-color);
    background-image: linear-gradient(to right,#12103b,#176B87,#86B6F6 );
   
}

.left-page .signup{
    margin: 80px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEF5FF;
}

.signup::after{
    content: "UP";
    color: #15133C;
}


.left-page .text{
    color: #EEF5FF;
    padding: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "Sofia", sans-serif;

}

.text::after{
    content: "Today";
    color: #15133C;
}

.right-page {
    float: right;
    border: none;
    height: 500px;
    width: 410px;
    text-align: center;
    background-color: var(--second-color);
    
   
}

.right-page-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-top: 30px;
    color: var(--first-color);
    }

.fname, .lname{
    margin-left: -200px;
}
.email{
    margin-left: -235px;
}

.passward{
    margin-left: -215px;
}
.Country{
    margin-left: -220px;
   
    
}
#passward ,#email, #lname, #fname, #country{
   
    width: 294px;
    padding: 8px 10px 8px 15px;
    margin: 8px 0px 8px -10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 50%;
    text-align: center;
}


#checkbox{
    margin-left: -85px;
    margin-top: 8px;
   

}

.a{
    text-decoration: none;
    color: #15133C;
} 


.btn-1{
    margin: 20px 200px -50px 0px;
    padding: 8px 30px;
    font-size: 12px;
    background: var(--first-color);
    border: none;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.btn-1, a{
     color: var(--third-color);
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-1:hover{
    background-color: var(--fourth-color);
  
}

.btn-2{
    margin: 20px 0 0px -155px;
     padding: 8px 30px;
    font-size: 12px;
    background: var(--first-color);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-2, a{
    color: var(--third-color);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-2:hover{
    background-color: var(--fourth-color);
  
}


/* ****************footer************ */

footer{
    position:relative;
     top: 1;
    width: 100%;
    height: 350px;
    background-color: #EEF5FF;
    /* margin-top: 250px; */
    
 }
 
 .footer{
    
     display: flex;
     justify-content: space-around;
     width: 100%;

 }
 
 .footer .line-1{
      margin: 61px;
 }
 
 .footer .line-1 .main{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #176B87;
    color: var(--font-color);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: "Sofia", sans-serif; */
 }
 
 .footer .line-1 p{
    line-height: 1.5;
     margin: 5px;
     color: #15133C;
     font-family: Arial, Helvetica, sans-serif;
 }

  .Copyright{
     margin-left: 570px;
     margin-top: 40px;
     font-size: 1.1rem;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #535151;
  }
/* 
  *****************footer end************** */